.navbar {
    display: flex;
    box-shadow: rgb(0, 0, 0, .15) 0px -2px 10px 0px;
    align-items: center;
    padding: .5em 2em;
    background-color: #1B1C1F;
    margin: 64px auto 40px auto;
    min-height: 110px;
    border-radius: 15px;
    max-width: 1600px;
    box-sizing: border-box;
}

.navbar img{
    width: 70px;
}

.brand {
    font-size: 1.9em;
    font-weight: 900;
    color: #fffffff5;
}

.brand div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 215px;
}

.brand span {
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
    white-space: nowrap;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    background-color: #000;
    color: #fff;
}


.search_form_pesq {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.search_form_pesq input {
    margin-right: 10px;
    width: 30%;
    color: #fff;
    background-color: #303030;
    border: none;
    padding: 0 10px;
    height: 37px;
    border-radius: 8px;
}

.search_form_pesq img{
    width: 26px;
}


@media (max-width: 670px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .search_form_pesq input {
        width: 100%;
        margin-left: 10px;
    }

    .links_list{
        flex-wrap: wrap;
    }

    .links_list li{
        margin: 3px;
    }
}