.post_detail {
    margin-bottom: 2em;
    flex: 1 0 400px; 
    background-color: #1B1C1F;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 506px;
}

.post_detail img {
    width: 100%;
    max-height: 225px;
}

.post_detail .div_img{
    max-width: 460px;
    margin: auto;
}

.post_detail .div_text{
    padding: 0 11px 30px 11px;
}

.post_detail h2 {
    margin-bottom: .4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
}

.tags p {
    margin-right: .5em;
}

.tags span {
    font-weight: bold;
}

.createdby {
    font-style: italic;
    color: #fff;
    font-size: .8em;
    margin-bottom: 1em;
}

.post_detail  .div_text .btn-outline a{
    text-decoration: underline !important;
}

@media (max-width: 410px){
    .post_detail{
        max-width: 320px;
    }
}
